*.la
*.lo
*.o
*.so
*/.deps
*/.libs
*~
.\#*
.gh-pages
/INSTALL
/autom4te.cache
/bin/country_lookup
/bin/mmdbdump
/bin/mmdblookup
/compile
/config.*
/configure
/depcomp
/include/maxminddb_config.h
/install-sh
/libmaxminddb-*
/libtool
/ltmain.sh
/man
/missing
/t/*.log
/t/*.trs
/t/*_t
/test-driver
Makefile
Makefile.in
\#*\#
aclocal.m4
stamp-h*

debian/*.log
debian/*.substvars
debian/*.debhelper
debian/tmp
debian/files
build/
build-stamp
debian/libmaxminddb-dev/
debian/libmaxminddb-utils/
debian/libmaxminddb1-dbg/
debian/libmaxminddb1/
.pc
.perltidyrc
.travis.yml
.uncrustify.cfg
appveyor.yml
bootstrap
dev-bin/*
projects/VS12/*
